<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.uberj.pocketmorsepro">

    <uses-permission android:name="android.permission.VIBRATE" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/ditsanddahs"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ditsanddahs"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.uberj.pocketmorsepro.MainActivity"></activity>
        <activity android:name="com.uberj.pocketmorsepro.TrainingActivityList"
            android:screenOrientation="landscape"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.uberj.pocketmorsepro.training.simple.SimpleStartScreenActivity"
            android:label="Simple Letter Training"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="com.uberj.pocketmorsepro.training.simple.SimpleLetterTrainingActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>
        <activity android:name="com.uberj.pocketmorsepro.training.simple.SimpleLetterSettingsActivity"
            android:screenOrientation="landscape"
            />

        <activity
            android:name="com.uberj.pocketmorsepro.training.randomletters.RandomLettersStartScreenActivity"
            android:label="Simple Letter Training"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="com.uberj.pocketmorsepro.training.randomletters.RandomLetterKeyboardSessionActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>
        <activity android:name="com.uberj.pocketmorsepro.training.randomletters.RandomLetterSettingsActivity"
            android:screenOrientation="landscape"
            />

        <activity
            android:name="com.uberj.pocketmorsepro.training.simplewordflashcards.SimpleWordFlashcardStartScreenActivity"
            android:label="Simple Letter Training"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="com.uberj.pocketmorsepro.training.simplewordflashcards.SimpleWordFlashcardKeyboardSessionActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>
        <activity android:name="com.uberj.pocketmorsepro.training.simplewordflashcards.SimpleWordFlashcardSettingsActivity"
            android:screenOrientation="landscape"
            />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="655d414733d000254ed550dbde155f77ed418ec7" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
</manifest>